
body {
    margin:  0;  
}


.bold-big {
    font-weight: bold; 
    font-size: 2.3vh; 
    line-height: 1.2; 
}

.bold-middle {
    font-weight: bold; 
    font-size: 2vh; 
}

.lightgrey-big-text {
    font-size: 2.3vh; 
    color: grey; 
    padding: 0.5vw 0; 
}

.lightgrey-small-text {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5vh;
    color: grey;  
    margin: 1vw 0 0 0; 
}
p{
    margin: 1vw 0 0 0;
}

.advertisement {
    background-color: whitesmoke; 
  
}

    .addInHead {
        display: block; 
        margin-left: auto;
        margin-right: auto;
        /* width: 70%; */
        height: 70%;
        height: auto;
    }



 .titleHead {
    display: block;
    margin-right: auto;
    margin-left:auto; 
    width: 85%;
 }   
    .titleHeadTop {
        display: inline-flex; 
        width: 100%;
        height: 4vh;
        font-family: Arial, Helvetica, sans-serif;
     }
            .icon {
                padding: 0.5vh 1vw 0 0 ; 
            }

            .buttons {
                margin: 0 0 0 22.5%; 
            }
            .titleButton{
                background-color: steelblue;
                color: white;
                font-weight: bold;
                float: right; 
                height: 2vw; 
                margin: 0 0 0 0.5vw; 
            }

            .languages {
                width: 20%;
                height: auto;
                margin: 0 0 0 36.5%; 
                display: inline-flex; 
                font-size: 4vw;
                /* border: 2px solid red;  */
            }
            .h5-languages {
                width: 15%;
                height: auto;
                padding: 0 1vw;
                margin: 5% 0; 
                font-size: 1.2vh; 
            }

    .titleHeadDown {
        display: inline-flex; 
        width: 100%;
        max-height: 10vh;
        border-bottom: 0.1px solid lightgray; 
    }
            h5 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.2vh; 
                padding: 6vh 0 0 0 ; 

            }

            h1 {
                min-width: 50vw;
                font-family: 'UnifrakturCook', cursive;
                text-align: center; 
                font-size: 5vh;
                margin: 1.5vh 13vw 0 10vw; 
                }

.tabs {
    display: inline-flexbox; 
    margin-right: auto;
    margin-left:auto; 
    width: 75%;
    /* border: 2px solid red;  */
    padding: 0.5vw;
}
    .tab {
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vh; 
        text-align: center;
        /* border: 2px solid blue; */
        margin: 0 0.6vw; 
    }

.summary {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    margin-right: auto;
    margin-left:auto; 
    padding: 0.5vw;
    width: 84%;
    max-height: 20vh; 
    border-top: 1px solid black; 
    border-bottom-style: double;
    /* background-color: grey;  */
}
  

    .sum-box {
        display: grid;
        grid-template-columns: 20% 80%; 
        border-right: 1px solid darkgrey; 
        padding: 0 2vh;
    }
            .sumImage{
                width: 100%;
                height: auto;
                padding: 50% 0; 
            }

            .sumText {
                display: inline-block; 
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.5vh; 
                margin: 15% 0 10% 2%;
                line-height: 1;
            }
    
    .sumTextLast{
        display: grid;
        grid-template-columns: 50% 50%; 
    }
            .stocks {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 45% 25% 20%; 
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.5vh;
                text-align: center;
                border-right: 1px solid darkgrey; 
            }
                    p.green {
                        color: green; 
                        text-align: left; 
                    }
                    .green-arrow{
                        width:30%;
                        height: auto;
                        padding: 25% 0; 
                    }
            .weather {
                display: grid;
                grid-template-rows: 60% 40%; 
                padding: 1vw 0 0 0 ; 
                /* border: 2px solid orange;  */
            }

                    .temperature-total {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                    }

                        .temp-small {
                            display: grid;
                            grid-template-rows: 1fr 1fr;
                            font-family: Arial, Helvetica, sans-serif;
                            margin: 12% 0;
                        }

                            
                            .sun {
                                width:60%;
                                height: auto;
                                margin: 10% 0 10% 30%;
                            }

                            .temp-daynight {
       
                                display: flex; 
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 1.5vh;
    
                            }

                                .temp-big {
                                    margin: 0 0.5vw;
                                    font-size: 3vh;
                                }
                                .temp1 {
                                    margin: 0 0.5vw;
                                }
                                .temp2 {
                                    margin: 0 0.5vw;
                                    color: darkgray; 
                                }
                    .location {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.5vh;
                        margin: 0 0 0 20%;
                    }


    .block01{
        margin-right: auto;
        margin-left: auto; 
        /* padding: 0.5vw; */
        width: 84%;
        display: grid;
        grid-template-columns: 12.5% 12.5% 10% 10% 10% 10% 17.5% 17.5% ;
        grid-auto-rows: 4vh 25vh 30vh 12vh 12vh 12vh 12vh  1fr 1fr 1fr 1fr 1fr; 
        /* border: green solid 2px;  */
        font-size: 1vw; 
    }
        .item-a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5vh;
            grid-column-start: 1;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 1;
            align-self: center; 
            /* border: blue solid 2px;  */
            /* padding: 0.5 0 0 0; */
            /* margin:0 0 0 0;   */
          }
        .item-b{
            padding: 0 0 0 0; 
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4; 
            /* border: yellow solid 2px;  */
            font-size: 2.3vh;
        }
        .item-c{
            padding: 0vw 1vw 0 1vw ;
            grid-column-start: 3;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 4;
            /* border: red solid 2px;  */
        }
            .photo-trump {
                height: auto;
                width: 90%;
            }

           
        .item-d{
            margin: 0 1vw; 
            width: auto; 
            /* border: purple solid 2px;  */
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: 1px solid lightgrey; 
        }

        .item-e{
            margin: 0 1vw; 
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .item-f{
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 4;
            
           
        }

        .item-ef {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 4;
            border-bottom: 1px solid lightgrey; 
            margin: 0 1vw; 
        }
                .child-weight{
                    height: auto;
                    width: 80%;
                    margin: 1vw; 
                }

        .item-g{
            margin: 0 1vw; 
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 4;
            grid-row-end: 5; 
            border-bottom: 1px solid lightgrey; 
        }

        .item-h{
            margin: 0 1vw; 
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 4;
            grid-row-end: 5; 
            border-bottom: 1px solid lightgrey; 
        }

        .item-i{
            margin: 0 1vw; 
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 6; 
            display: inline-flex; 
            border-bottom: 1px solid lightgrey; 
            
        }

            .portrait {
                padding: 1vw;
            }

        .item-j{
            margin: 3vh 1vw; 
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 6; 
            display: inline-flex; 
        }

        .item-k{
            margin: 0 1vw; 
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 6;
            grid-row-end: 7; 
            border-bottom: 1px solid lightgrey; 
        }

        .item-l{
            margin: 7vh 1vw; 
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 6;
            grid-row-end: 7; 
            border-top: 1px solid lightgrey; 
        }

        .item-m{
            margin: 0 1vw; 
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 7;
            grid-row-end: 8; 
        }

        .item-opinion-left {
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-start: 4;
            grid-row-end: 8;
            border-right:  1px solid lightgray; 
            margin: 1vw 0; 
        }
        .item-opinion-right{
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 4;
            grid-row-end: 8; 
        }

        .item-z {
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 11;  
            border-right: 1px solid lightgray; 
        }
        .item-no{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 6;  
            border-top: 1px solid black; 
            margin: 0 1vw; 
        }
                .item-n{
                    grid-column-start: 1;
                    grid-column-end: 5;
                    grid-row-start: 4;
                    grid-row-end: 6;  
                    margin: 1vw; 
                    border-right: 1px solid lightgray; 
                }

                .item-o{
                    grid-column-start: 5;
                    grid-column-end: 7;
                    grid-row-start: 4;
                    grid-row-end: 6;  
                    margin: 1vw; 
                }

        .item-pqr{
            grid-column-start: 1;
            grid-column-end: 7;
            grid-row-start: 6;
            grid-row-end: 8;  
            margin: 0 1vw; 
            border-top: 1px solid black; 
        }

                .item-p{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 6;
                    grid-row-end: 7;  
                    margin: 1vw 1vw 0 1vw; 
                }

                .item-q{
                    grid-column-start: 3;
                    grid-column-end: 7;
                    grid-row-start: 6;
                    grid-row-end: 8;  
                    margin: 1vw 1vw; 
                  
                }
                    .immigrants{
                        width: 100%
                    }


                .item-r{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 7;
                    grid-row-end: 8;  
                    margin: 15vh 1vw 0 1vw; 
                }